
<h1 class = "text-center"> List of All Users </h1>

<div class = "row">
  <div class = "well col-md-10 col-md-offset-1">
    <table class="table table-striped table-hover">

      <thead>

        <th> Avatar </th>
        <th> First Name: </th>
        <th> Last Name: </th>
        <th> Nickname: </th>
        <th> Email Address / Username: </th>
        <th> Admin: </td>

      </thead>

      <tbody>

        <% @users.each do |user| %>

          <tr>
            <td> <%= image_tag user.avatar.url(:thumb) %></td>
            <td> <%= user.fname %></td>
            <td> <%= user.lname %></td>
            <td> <%= user.nickname %></td>
            <td> <%= user.email %></td>
            <td> <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user_path(user), method: :delete %>
                 <% if user.admin? %>
                  ADMIN                  
                 <% end %>
            </td>
          </tr>

        <% end %>

        </tbody>

    </table>
  </div>
</div>
